html, body, #root {
  height: 100%;
}

:root {
  --font-stack: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --danger: crimson;
}

body {
  margin: 0;
  font-family: var(--font-stack);
}

.center-full {
  height: 100vh;
  display: grid;
  place-items: center;
}

.stack {
  display: grid;
  gap: 16px;
}

.error {
  color: var(--danger);
}

.mt-16 { margin-top: 16px; }
